* {
  box-sizing: border-box;
  transition: all 1s !important;
}

body {
  background-color: #333;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#stage {
  transform-style: preserve-3d;
  position: relative;
  perspective: 1000000px;
  width: calc(100vmin * (0.5));
  height: calc(100vmin * (0.5));
}

#prism-1.prism.translucent {
  animation-delay: calc(0 * 10ms);
}
#prism-1.prism.translucent pane:nth-child(1):before, #prism-1.prism.translucent pane:nth-child(1):after {
  left: calc(45 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(50 - 45) * 1vmin * 0.5);
  height: calc(calc(90 - 10) * 1vmin * 0.5);
}
#prism-1.prism.translucent pane:nth-child(1):before {
  transform: translateZ(calc(0 * -1vmin * 0.5));
}
#prism-1.prism.translucent pane:nth-child(1):after {
  transform: translateZ(calc(9 * -1vmin * 0.5));
}
#prism-1.prism.translucent pane:nth-child(2):before, #prism-1.prism.translucent pane:nth-child(2):after {
  left: calc(0 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(9 - 0) * 1vmin * 0.5);
  height: calc(calc(90 - 10) * 1vmin * 0.5);
}
#prism-1.prism.translucent pane:nth-child(2):before {
  transform: translateZ(calc(calc( 100 - 45) * -1vmin * 0.5));
}
#prism-1.prism.translucent pane:nth-child(2):after {
  transform: translateZ(calc(calc( 100 - 50) * -1vmin * 0.5));
}
#prism-1.prism.translucent pane:nth-child(3):before, #prism-1.prism.translucent pane:nth-child(3):after {
  left: calc(45 * 1vmin * 0.5);
  top: calc(0 * 1vmin * 0.5);
  width: calc(calc(50 - 45) * 1vmin * 0.5);
  height: calc(calc(9 - 0) * 1vmin * 0.5);
}
#prism-1.prism.translucent pane:nth-child(3):before {
  transform: translateZ(calc(calc( 100 - 90) * -1vmin * 0.5)) rotateY(180deg) rotateZ(180deg);
}
#prism-1.prism.translucent pane:nth-child(3):after {
  transform: translateZ(calc(calc( 100 - 10) * -1vmin * 0.5)) rotateY(180deg);
}

#prism-2.prism.translucent {
  animation-delay: calc(10 * 10ms);
}
#prism-2.prism.translucent pane:nth-child(1):before, #prism-2.prism.translucent pane:nth-child(1):after {
  left: calc(45 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(50 - 45) * 1vmin * 0.5);
  height: calc(calc(90 - 10) * 1vmin * 0.5);
}
#prism-2.prism.translucent pane:nth-child(1):before {
  transform: translateZ(calc(10 * -1vmin * 0.5));
}
#prism-2.prism.translucent pane:nth-child(1):after {
  transform: translateZ(calc(19 * -1vmin * 0.5));
}
#prism-2.prism.translucent pane:nth-child(2):before, #prism-2.prism.translucent pane:nth-child(2):after {
  left: calc(10 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(19 - 10) * 1vmin * 0.5);
  height: calc(calc(90 - 10) * 1vmin * 0.5);
}
#prism-2.prism.translucent pane:nth-child(2):before {
  transform: translateZ(calc(calc( 100 - 45) * -1vmin * 0.5));
}
#prism-2.prism.translucent pane:nth-child(2):after {
  transform: translateZ(calc(calc( 100 - 50) * -1vmin * 0.5));
}
#prism-2.prism.translucent pane:nth-child(3):before, #prism-2.prism.translucent pane:nth-child(3):after {
  left: calc(45 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(50 - 45) * 1vmin * 0.5);
  height: calc(calc(19 - 10) * 1vmin * 0.5);
}
#prism-2.prism.translucent pane:nth-child(3):before {
  transform: translateZ(calc(calc( 100 - 90) * -1vmin * 0.5)) rotateY(180deg) rotateZ(180deg);
}
#prism-2.prism.translucent pane:nth-child(3):after {
  transform: translateZ(calc(calc( 100 - 10) * -1vmin * 0.5)) rotateY(180deg);
}

#prism-3.prism.translucent {
  animation-delay: calc(20 * 10ms);
}
#prism-3.prism.translucent pane:nth-child(1):before, #prism-3.prism.translucent pane:nth-child(1):after {
  left: calc(45 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(50 - 45) * 1vmin * 0.5);
  height: calc(calc(90 - 10) * 1vmin * 0.5);
}
#prism-3.prism.translucent pane:nth-child(1):before {
  transform: translateZ(calc(20 * -1vmin * 0.5));
}
#prism-3.prism.translucent pane:nth-child(1):after {
  transform: translateZ(calc(29 * -1vmin * 0.5));
}
#prism-3.prism.translucent pane:nth-child(2):before, #prism-3.prism.translucent pane:nth-child(2):after {
  left: calc(20 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(29 - 20) * 1vmin * 0.5);
  height: calc(calc(90 - 10) * 1vmin * 0.5);
}
#prism-3.prism.translucent pane:nth-child(2):before {
  transform: translateZ(calc(calc( 100 - 45) * -1vmin * 0.5));
}
#prism-3.prism.translucent pane:nth-child(2):after {
  transform: translateZ(calc(calc( 100 - 50) * -1vmin * 0.5));
}
#prism-3.prism.translucent pane:nth-child(3):before, #prism-3.prism.translucent pane:nth-child(3):after {
  left: calc(45 * 1vmin * 0.5);
  top: calc(20 * 1vmin * 0.5);
  width: calc(calc(50 - 45) * 1vmin * 0.5);
  height: calc(calc(29 - 20) * 1vmin * 0.5);
}
#prism-3.prism.translucent pane:nth-child(3):before {
  transform: translateZ(calc(calc( 100 - 90) * -1vmin * 0.5)) rotateY(180deg) rotateZ(180deg);
}
#prism-3.prism.translucent pane:nth-child(3):after {
  transform: translateZ(calc(calc( 100 - 10) * -1vmin * 0.5)) rotateY(180deg);
}

#prism-4.prism.translucent {
  animation-delay: calc(30 * 10ms);
}
#prism-4.prism.translucent pane:nth-child(1):before, #prism-4.prism.translucent pane:nth-child(1):after {
  left: calc(45 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(50 - 45) * 1vmin * 0.5);
  height: calc(calc(90 - 10) * 1vmin * 0.5);
}
#prism-4.prism.translucent pane:nth-child(1):before {
  transform: translateZ(calc(30 * -1vmin * 0.5));
}
#prism-4.prism.translucent pane:nth-child(1):after {
  transform: translateZ(calc(39 * -1vmin * 0.5));
}
#prism-4.prism.translucent pane:nth-child(2):before, #prism-4.prism.translucent pane:nth-child(2):after {
  left: calc(30 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(39 - 30) * 1vmin * 0.5);
  height: calc(calc(90 - 10) * 1vmin * 0.5);
}
#prism-4.prism.translucent pane:nth-child(2):before {
  transform: translateZ(calc(calc( 100 - 45) * -1vmin * 0.5));
}
#prism-4.prism.translucent pane:nth-child(2):after {
  transform: translateZ(calc(calc( 100 - 50) * -1vmin * 0.5));
}
#prism-4.prism.translucent pane:nth-child(3):before, #prism-4.prism.translucent pane:nth-child(3):after {
  left: calc(45 * 1vmin * 0.5);
  top: calc(30 * 1vmin * 0.5);
  width: calc(calc(50 - 45) * 1vmin * 0.5);
  height: calc(calc(39 - 30) * 1vmin * 0.5);
}
#prism-4.prism.translucent pane:nth-child(3):before {
  transform: translateZ(calc(calc( 100 - 90) * -1vmin * 0.5)) rotateY(180deg) rotateZ(180deg);
}
#prism-4.prism.translucent pane:nth-child(3):after {
  transform: translateZ(calc(calc( 100 - 10) * -1vmin * 0.5)) rotateY(180deg);
}

#prism-5.prism.translucent {
  animation-delay: calc(40 * 10ms);
}
#prism-5.prism.translucent pane:nth-child(1):before, #prism-5.prism.translucent pane:nth-child(1):after {
  left: calc(45 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(50 - 45) * 1vmin * 0.5);
  height: calc(calc(90 - 10) * 1vmin * 0.5);
}
#prism-5.prism.translucent pane:nth-child(1):before {
  transform: translateZ(calc(40 * -1vmin * 0.5));
}
#prism-5.prism.translucent pane:nth-child(1):after {
  transform: translateZ(calc(49 * -1vmin * 0.5));
}
#prism-5.prism.translucent pane:nth-child(2):before, #prism-5.prism.translucent pane:nth-child(2):after {
  left: calc(40 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(49 - 40) * 1vmin * 0.5);
  height: calc(calc(90 - 10) * 1vmin * 0.5);
}
#prism-5.prism.translucent pane:nth-child(2):before {
  transform: translateZ(calc(calc( 100 - 45) * -1vmin * 0.5));
}
#prism-5.prism.translucent pane:nth-child(2):after {
  transform: translateZ(calc(calc( 100 - 50) * -1vmin * 0.5));
}
#prism-5.prism.translucent pane:nth-child(3):before, #prism-5.prism.translucent pane:nth-child(3):after {
  left: calc(45 * 1vmin * 0.5);
  top: calc(40 * 1vmin * 0.5);
  width: calc(calc(50 - 45) * 1vmin * 0.5);
  height: calc(calc(49 - 40) * 1vmin * 0.5);
}
#prism-5.prism.translucent pane:nth-child(3):before {
  transform: translateZ(calc(calc( 100 - 90) * -1vmin * 0.5)) rotateY(180deg) rotateZ(180deg);
}
#prism-5.prism.translucent pane:nth-child(3):after {
  transform: translateZ(calc(calc( 100 - 10) * -1vmin * 0.5)) rotateY(180deg);
}

#prism-6.prism.translucent {
  animation-delay: calc(50 * 10ms);
}
#prism-6.prism.translucent pane:nth-child(1):before, #prism-6.prism.translucent pane:nth-child(1):after {
  left: calc(45 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(50 - 45) * 1vmin * 0.5);
  height: calc(calc(90 - 10) * 1vmin * 0.5);
}
#prism-6.prism.translucent pane:nth-child(1):before {
  transform: translateZ(calc(50 * -1vmin * 0.5));
}
#prism-6.prism.translucent pane:nth-child(1):after {
  transform: translateZ(calc(59 * -1vmin * 0.5));
}
#prism-6.prism.translucent pane:nth-child(2):before, #prism-6.prism.translucent pane:nth-child(2):after {
  left: calc(50 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(59 - 50) * 1vmin * 0.5);
  height: calc(calc(90 - 10) * 1vmin * 0.5);
}
#prism-6.prism.translucent pane:nth-child(2):before {
  transform: translateZ(calc(calc( 100 - 45) * -1vmin * 0.5));
}
#prism-6.prism.translucent pane:nth-child(2):after {
  transform: translateZ(calc(calc( 100 - 50) * -1vmin * 0.5));
}
#prism-6.prism.translucent pane:nth-child(3):before, #prism-6.prism.translucent pane:nth-child(3):after {
  left: calc(45 * 1vmin * 0.5);
  top: calc(50 * 1vmin * 0.5);
  width: calc(calc(50 - 45) * 1vmin * 0.5);
  height: calc(calc(59 - 50) * 1vmin * 0.5);
}
#prism-6.prism.translucent pane:nth-child(3):before {
  transform: translateZ(calc(calc( 100 - 90) * -1vmin * 0.5)) rotateY(180deg) rotateZ(180deg);
}
#prism-6.prism.translucent pane:nth-child(3):after {
  transform: translateZ(calc(calc( 100 - 10) * -1vmin * 0.5)) rotateY(180deg);
}

#prism-7.prism.translucent {
  animation-delay: calc(60 * 10ms);
}
#prism-7.prism.translucent pane:nth-child(1):before, #prism-7.prism.translucent pane:nth-child(1):after {
  left: calc(45 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(50 - 45) * 1vmin * 0.5);
  height: calc(calc(90 - 10) * 1vmin * 0.5);
}
#prism-7.prism.translucent pane:nth-child(1):before {
  transform: translateZ(calc(60 * -1vmin * 0.5));
}
#prism-7.prism.translucent pane:nth-child(1):after {
  transform: translateZ(calc(69 * -1vmin * 0.5));
}
#prism-7.prism.translucent pane:nth-child(2):before, #prism-7.prism.translucent pane:nth-child(2):after {
  left: calc(60 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(69 - 60) * 1vmin * 0.5);
  height: calc(calc(90 - 10) * 1vmin * 0.5);
}
#prism-7.prism.translucent pane:nth-child(2):before {
  transform: translateZ(calc(calc( 100 - 45) * -1vmin * 0.5));
}
#prism-7.prism.translucent pane:nth-child(2):after {
  transform: translateZ(calc(calc( 100 - 50) * -1vmin * 0.5));
}
#prism-7.prism.translucent pane:nth-child(3):before, #prism-7.prism.translucent pane:nth-child(3):after {
  left: calc(45 * 1vmin * 0.5);
  top: calc(60 * 1vmin * 0.5);
  width: calc(calc(50 - 45) * 1vmin * 0.5);
  height: calc(calc(69 - 60) * 1vmin * 0.5);
}
#prism-7.prism.translucent pane:nth-child(3):before {
  transform: translateZ(calc(calc( 100 - 90) * -1vmin * 0.5)) rotateY(180deg) rotateZ(180deg);
}
#prism-7.prism.translucent pane:nth-child(3):after {
  transform: translateZ(calc(calc( 100 - 10) * -1vmin * 0.5)) rotateY(180deg);
}

#prism-8.prism.translucent {
  animation-delay: calc(70 * 10ms);
}
#prism-8.prism.translucent pane:nth-child(1):before, #prism-8.prism.translucent pane:nth-child(1):after {
  left: calc(45 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(50 - 45) * 1vmin * 0.5);
  height: calc(calc(90 - 10) * 1vmin * 0.5);
}
#prism-8.prism.translucent pane:nth-child(1):before {
  transform: translateZ(calc(70 * -1vmin * 0.5));
}
#prism-8.prism.translucent pane:nth-child(1):after {
  transform: translateZ(calc(79 * -1vmin * 0.5));
}
#prism-8.prism.translucent pane:nth-child(2):before, #prism-8.prism.translucent pane:nth-child(2):after {
  left: calc(70 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(79 - 70) * 1vmin * 0.5);
  height: calc(calc(90 - 10) * 1vmin * 0.5);
}
#prism-8.prism.translucent pane:nth-child(2):before {
  transform: translateZ(calc(calc( 100 - 45) * -1vmin * 0.5));
}
#prism-8.prism.translucent pane:nth-child(2):after {
  transform: translateZ(calc(calc( 100 - 50) * -1vmin * 0.5));
}
#prism-8.prism.translucent pane:nth-child(3):before, #prism-8.prism.translucent pane:nth-child(3):after {
  left: calc(45 * 1vmin * 0.5);
  top: calc(70 * 1vmin * 0.5);
  width: calc(calc(50 - 45) * 1vmin * 0.5);
  height: calc(calc(79 - 70) * 1vmin * 0.5);
}
#prism-8.prism.translucent pane:nth-child(3):before {
  transform: translateZ(calc(calc( 100 - 90) * -1vmin * 0.5)) rotateY(180deg) rotateZ(180deg);
}
#prism-8.prism.translucent pane:nth-child(3):after {
  transform: translateZ(calc(calc( 100 - 10) * -1vmin * 0.5)) rotateY(180deg);
}

#prism-9.prism.translucent {
  animation-delay: calc(80 * 10ms);
}
#prism-9.prism.translucent pane:nth-child(1):before, #prism-9.prism.translucent pane:nth-child(1):after {
  left: calc(45 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(50 - 45) * 1vmin * 0.5);
  height: calc(calc(90 - 10) * 1vmin * 0.5);
}
#prism-9.prism.translucent pane:nth-child(1):before {
  transform: translateZ(calc(80 * -1vmin * 0.5));
}
#prism-9.prism.translucent pane:nth-child(1):after {
  transform: translateZ(calc(89 * -1vmin * 0.5));
}
#prism-9.prism.translucent pane:nth-child(2):before, #prism-9.prism.translucent pane:nth-child(2):after {
  left: calc(80 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(89 - 80) * 1vmin * 0.5);
  height: calc(calc(90 - 10) * 1vmin * 0.5);
}
#prism-9.prism.translucent pane:nth-child(2):before {
  transform: translateZ(calc(calc( 100 - 45) * -1vmin * 0.5));
}
#prism-9.prism.translucent pane:nth-child(2):after {
  transform: translateZ(calc(calc( 100 - 50) * -1vmin * 0.5));
}
#prism-9.prism.translucent pane:nth-child(3):before, #prism-9.prism.translucent pane:nth-child(3):after {
  left: calc(45 * 1vmin * 0.5);
  top: calc(80 * 1vmin * 0.5);
  width: calc(calc(50 - 45) * 1vmin * 0.5);
  height: calc(calc(89 - 80) * 1vmin * 0.5);
}
#prism-9.prism.translucent pane:nth-child(3):before {
  transform: translateZ(calc(calc( 100 - 90) * -1vmin * 0.5)) rotateY(180deg) rotateZ(180deg);
}
#prism-9.prism.translucent pane:nth-child(3):after {
  transform: translateZ(calc(calc( 100 - 10) * -1vmin * 0.5)) rotateY(180deg);
}

#prism-10.prism.translucent {
  animation-delay: calc(90 * 10ms);
}
#prism-10.prism.translucent pane:nth-child(1):before, #prism-10.prism.translucent pane:nth-child(1):after {
  left: calc(45 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(50 - 45) * 1vmin * 0.5);
  height: calc(calc(90 - 10) * 1vmin * 0.5);
}
#prism-10.prism.translucent pane:nth-child(1):before {
  transform: translateZ(calc(90 * -1vmin * 0.5));
}
#prism-10.prism.translucent pane:nth-child(1):after {
  transform: translateZ(calc(99 * -1vmin * 0.5));
}
#prism-10.prism.translucent pane:nth-child(2):before, #prism-10.prism.translucent pane:nth-child(2):after {
  left: calc(90 * 1vmin * 0.5);
  top: calc(10 * 1vmin * 0.5);
  width: calc(calc(99 - 90) * 1vmin * 0.5);
  height: calc(calc(90 - 10) * 1vmin * 0.5);
}
#prism-10.prism.translucent pane:nth-child(2):before {
  transform: translateZ(calc(calc( 100 - 45) * -1vmin * 0.5));
}
#prism-10.prism.translucent pane:nth-child(2):after {
  transform: translateZ(calc(calc( 100 - 50) * -1vmin * 0.5));
}
#prism-10.prism.translucent pane:nth-child(3):before, #prism-10.prism.translucent pane:nth-child(3):after {
  left: calc(45 * 1vmin * 0.5);
  top: calc(90 * 1vmin * 0.5);
  width: calc(calc(50 - 45) * 1vmin * 0.5);
  height: calc(calc(99 - 90) * 1vmin * 0.5);
}
#prism-10.prism.translucent pane:nth-child(3):before {
  transform: translateZ(calc(calc( 100 - 90) * -1vmin * 0.5)) rotateY(180deg) rotateZ(180deg);
}
#prism-10.prism.translucent pane:nth-child(3):after {
  transform: translateZ(calc(calc( 100 - 10) * -1vmin * 0.5)) rotateY(180deg);
}

#container {
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  position: absolute;
}

pane {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

pane:nth-child(1) {
  transform: translateZ(calc(50vmin * 0.5));
}

pane:nth-child(2) {
  transform: rotateY(90deg) translateZ(calc(50vmin * 0.5));
}

pane:nth-child(3) {
  transform: rotateX(-90deg) translateZ(calc(50vmin * 0.5));
}

pane:before, pane:after {
  position: absolute;
  transition: all 3s;
  content: "";
}

pane:before {
  filter: brightness(1.2);
  background-color: inherit;
}

pane:after {
  filter: brightness(0.8);
  background-color: inherit;
}

.skin pane:before, .skin pane:after {
  background-color: #ca8762;
}

.eye pane:before, .eye pane:after {
  background-color: #b9aeb4;
}

.lip pane:before, .lip pane:after {
  background-color: #d16a59;
}

.hair pane:before, .hair pane:after {
  background-color: #230f0e;
}

.glasses pane:before, .glasses pane:after {
  background-color: #191a2c;
}

.pupils pane:before, .pupils pane:after {
  background-color: #332c34;
}

.lens pane:before, .lens pane:after {
  background-color: rgba(240, 240, 240, 0.3);
}

.red pane:before, .red pane:after {
  background-color: #c93701;
}

.salmon pane:before, .salmon pane:after {
  background-color: #ec6b53;
}

.gold pane:before, .gold pane:after {
  background-color: #de9d04;
}

.white pane:before, .white pane:after {
  background-color: white;
}

.aqua pane:before, .aqua pane:after {
  background-color: #4fc5b8;
}

.blue pane:before, .blue pane:after {
  background-color: #0d4f7d;
}

.prism {
  transform-style: preserve-3d;
}

.normal {
  transform: rotateY(0deg);
}

.top {
  transform: rotateX(-90deg);
}

.left {
  transform: rotateY(-90deg);
}

.iso-top {
  transform: matrix3d(1, -0.55, 0, 0, 0.97, 0.433102, 0, 0, 0, -1, 1, 0, 0, 0, 0, 1);
}

.iso-left {
  transform: matrix3d(0.866025, 0.595, 0, 0, 0, 1.00021, 0, 0, -0.866025, 0.433102, 1, 0, 0, 0, 0, 1);
}

.iso-right {
  transform: matrix3d(0.866025, -0.595, 0, 0, 0, 1.00021, 0, 0, 0.866025, 0.433102, 1, 0, 0, 0, 0, 1);
}

.prism {
  width: 100%;
  height: 100%;
  position: absolute;
}

.prism-container {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.controls {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: lightgrey;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  animation: 10s infinite rotate-prism;
}

.translucent pane:nth-child(1):before, .translucent pane:nth-child(1):after {
  background-color: rgba(255, 64, 128, 0.25);
  border: 1px solid rgba(255, 64, 128, 0.75);
}

.translucent pane:nth-child(2):before, .translucent pane:nth-child(2):after {
  background-color: rgba(64, 128, 255, 0.25);
  border: 1px solid rgba(64, 128, 255, 0.75);
}

.translucent pane:nth-child(3):before, .translucent pane:nth-child(2):after {
  background-color: rgba(64, 255, 128, 0.25);
  border: 1px solid rgba(64, 255, 128, 0.75);
}

.translucent {
  animation: 3s infinite twirl-prism;
}

@keyframes twirl-prism {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}
@keyframes rotate-prism {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(359deg);
  }
}

/*# sourceMappingURL=main.css.map */
