* {
  box-sizing: border-box;
  transition: all 1s !important;
}

$scale:0.5;
$center: 100; 


body {
    background-color: #333;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
#stage {
    transform-style: preserve-3d;
    position: relative;
    perspective: 1000000px;
    width: calc(100vmin * (#{$scale}));
    height: calc(100vmin * (#{$scale}));
  }

$prism: (

  /*"face" 25 75 20 70 25 75 "skin",
  "face" 25 75 10 90 25 75 "skin.grow",
  "hair" 25 75 17 19.9 24 75 "hair",
  "ear-left" 22 24.9 40 50 40 50 "skin",
  "ear-right" 75.1 78 40 50 50 60 "skin",
  "pupils-left" 35 40 40 45 23 24 "pupils",
  "pupils-right" 60 65 40 45 23 24 "pupils",
  "eyebrow-left" 30 45 33 35 24 25 "hair",
  "eyebrow-right" 55 70 33 35 24 25 "hair",
  "glasses-left" 23 24 36 38 23 60 "glasses",
  "glasses-right" 75 76 36 38 23 60 "glasses",
  "glasses-center" 23 77 36 38 23 24 "glasses",
  "lens-left" 30 45 38 47 20 22 "lens",
  "lens-right" 55 70 38 47 20 22 "lens",
  "eye-left" 35 45 45 50 23 24 "eye",
  "eye-right" 55 65 45 50 23 24 "eye",
  "nose" 45 55 39 45.9 22 24.9 "skin", 
  "nose-bottom" 45 55 46 53 20 24.9 "skin",
  "nose-bottom" 45 55 46 53 10 24.9 "skin.grow",
  "nose-left" 42 44.9 48 53 20 24.9 "skin", 
  "nose-right" 55.1 57 48 53 20 24.9 "skin",
  "beard-center" 40 60 53 56 24 25 "hair",
  "beard-left" 40 42 53 70 24 25 "hair",
  "beard-right" 58 60 53 70 24 25 "hair",
  "beard-bottom" 25 75 65 70 24 24.9 "hair",
  "beard-side-left" 75.1 76 60 70 25 50 "hair",
  "beard-side-right" 23 24.9 60 70 25 50 "hair",
  "lip-upper" 43 58 56 59 20 22 "lip",
  "lip-lower" 43 58 59 61 20 22 "lip",*/
  "prism-1" 45 50 10 90 0 09 "translucent",
  "prism-2" 45 50 10 90 10 19 "translucent",
  "prism-3" 45 50 10 90 20 29 "translucent",
  "prism-4" 45 50 10 90 30 39 "translucent",
  "prism-5" 45 50 10 90 40 49 "translucent",
  "prism-6" 45 50 10 90 50 59 "translucent",
  "prism-7" 45 50 10 90 60 69 "translucent",
  "prism-8" 45 50 10 90 70 79 "translucent",
  "prism-9" 45 50 10 90 80 89 "translucent",
  "prism-10" 45 50 10 90 90 99 "translucent",
);

@each $name, $x1, $x2, $y1, $y2, $z1, $z2, $class in $prism {
    ##{$name}.prism.#{$class}{
      $width: calc(#{$x2} - #{$x1}); 
      $height: calc(#{$y2} - #{$y1}); 
      $depth: calc(#{$z2} - #{$z1});
      $x1-adjust: calc( #{$center} - #{$x1});
      $x2-adjust: calc( #{$center} - #{$x2});
      $y1-adjust: calc( #{$center} - #{$y1});
      $y2-adjust: calc( #{$center} - #{$y2});
      animation-delay:calc(#{$z1} * 10ms); 

      pane:nth-child(1):before, pane:nth-child(1):after{
        left: calc(#{$x1} * 1vmin * #{$scale});
        top: calc(#{$y1} * 1vmin * #{$scale});
        width: calc(#{$width} * 1vmin * #{$scale});
        height: calc(#{$height} * 1vmin * #{$scale});
      }

      pane:nth-child(1):before{
          transform: translateZ(calc(#{$z1} * -1vmin * #{$scale}));
      }

      pane:nth-child(1):after{
        transform: translateZ(calc(#{$z2} * -1vmin * #{$scale}));
      }

      pane:nth-child(2):before, pane:nth-child(2):after{
          left: calc(#{$z1} * 1vmin * #{$scale});
          top: calc(#{$y1} * 1vmin * #{$scale});
          width: calc(#{$depth} * 1vmin * #{$scale});
          height:  calc(#{$height} * 1vmin * #{$scale});
      }
      
      pane:nth-child(2):before{
        transform: translateZ(calc(#{$x1-adjust} * -1vmin * #{$scale}));
      }

      pane:nth-child(2):after{
        transform: translateZ(calc(#{$x2-adjust} * -1vmin * #{$scale}));
      }

      pane:nth-child(3):before, pane:nth-child(3):after{
          left: calc(#{$x1} * 1vmin * #{$scale});
          top: calc(#{$z1} * 1vmin * #{$scale});
          width: calc(#{$width} * 1vmin * #{$scale});
          height:  calc(#{$depth} * 1vmin * #{$scale});
      }

      pane:nth-child(3):before{
        transform: translateZ(calc(#{$y2-adjust} * -1vmin * #{$scale})) rotateY(180deg) rotateZ(180deg);
      }

      pane:nth-child(3):after{
        transform: translateZ(calc(#{$y1-adjust} * -1vmin * #{$scale})) rotateY(180deg);
      }
  }
}

#container{
  //animation:3s infinite rotate-prism;
  transform-style:preserve-3d;
  height:100%;
  width:100%;
  position:absolute;
}

pane{
width:100%;
height: 100%;
position:absolute;
transform-style:preserve-3d;
}

pane:nth-child(1){
transform:  translateZ(calc(50vmin * #{$scale}));
//border:1px solid red;
}

pane:nth-child(2){
transform: rotateY(90deg) translateZ(calc(50vmin * #{$scale}));
//border:1px solid yellow;
}

pane:nth-child(3){
transform: rotateX(-90deg) translateZ(calc(50vmin * #{$scale}));
//border:1px solid blue;
}

pane:before, pane:after{
position:absolute;
transition:all 3s;
content:"";
}

pane:before{
filter: brightness(1.2);
background-color:inherit;
}

pane:after{
filter: brightness(0.8);
background-color:inherit;
}

$colors: (
  "skin" rgb(202, 135, 98, 1),
  "eye" rgba(185, 174, 180, 1),
  "lip" rgba(209, 106, 89, 1),
  "hair" rgba(35, 15, 14, 1),
  "glasses" rgba(25, 26, 44, 1),
  "pupils" rgba(51, 44, 52, 1),
  "lens" rgba(240, 240, 240, 0.3),
  "red" rgb(201, 55, 1),
  "salmon" rgb(236 107 83),
  "gold" rgb(222, 157, 4),
  "white" rgb(255,255,255),
  "aqua" rgb(79, 197, 184),
  "blue" rgb(13, 79, 125),
  );

@each $name, $bgcolor in $colors {
  .#{$name} pane:before, .#{$name} pane:after{
    background-color: $bgcolor;
  }
}

.prism{
  transform-style:preserve-3d;
}


.normal {
  transform:rotateY(0deg);
}

.top{
  transform:rotateX(-90deg);
}

.left{
  transform:rotateY(-90deg);
}

.iso-top {
  transform: matrix3d(
    1,
    -0.55,
    0,
    0,
    0.97,
    0.433102,
    0,
    0,
    0,
    -1,
    1,
    0,
    0,
    0,
    0,
    1
  );
}

.iso-left {
  transform: matrix3d(
    0.866025,
    0.595,
    0,
    0,
    0,
    1.00021,
    0,
    0,
    -0.866025,
    0.433102,
    1,
    0,
    0,
    0,
    0,
    1
  );
}

.iso-right {
  transform: matrix3d(
    0.866025,
    -0.595,
    0,
    0,
    0,
    1.00021,
    0,
    0,
    0.866025,
    0.433102,
    1,
    0,
    0,
    0,
    0,
    1
  );
}

.prism {
  width: 100%;
  height: 100%;
  position: absolute;
}

.prism-container{
  width:100%;
  height:100%;
  transform-style: preserve-3d;
}

.controls {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: lightgrey;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head{
  animation: 10s infinite rotate-prism;
}

.translucent pane:nth-child(1):before, .translucent pane:nth-child(1):after{
  background-color:rgba(255, 64, 128, 0.25);
  border:1px solid rgba(255, 64, 128, 0.75);
}

.translucent pane:nth-child(2):before, .translucent pane:nth-child(2):after{
  background-color:rgba(64, 128, 255, 0.25);
  border:1px solid rgba(64, 128, 255, 0.75);
}

.translucent pane:nth-child(3):before, .translucent pane:nth-child(2):after{
  background-color:rgba(64, 255, 128, 0.25);
  border:1px solid rgba(64, 255, 128, 0.75);
}

.translucent{
  animation: 3s infinite twirl-prism;
}



@keyframes twirl-prism{
  0% {
    transform:rotateZ(0deg);
  }
  50% {
    transform:rotateZ(180deg);
  }
  100% {
    transform:rotateZ(359deg);
  }
}

@keyframes rotate-prism {
  0% {
    transform:rotateY(0deg);
  }
  50% {
    transform:rotateY(180deg);
  }
  100% {
    transform:rotateY(359deg);
  }
}
